/**************
* BASE STYLES *
**************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --red: #e60023;
  --gray: #ddd;
  --blue: #0000ff;
  --white: #fff;
  --white2: whitesmoke;
  --black: #555;
  --black2: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 5rem;
  color: var(--black);
}

/****************
* HEADER MOBILE *
*****************/
.header-mobile {
  text-align: center;
  padding: 1rem 2rem;
}

.logo {
  flex: 5;
}

.logo h1 {
  color: var(--red);
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
}

/*****************
* HEADER DESKTOP *
******************/
.header-desktop {
  display: none;
  padding: 1rem 2rem;
}

/**************
* MENU MOBILE *
***************/
.menu-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.5rem;
  background: var(--white2);
  border-top: 2px solid var(--gray);
}

.menu {
  flex: 2;
}

.avatar img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
  vertical-align: middle;
  padding: 1px;
}

.notifications {
  position: relative;
}

.notifications-icon,
.search-icon,
.upload-icon,
.home-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

/* Red circle on top of the notifications icon */
.notifications::after {
  content: "5";
  width: 1.2rem;
  height: 1.2rem;
  background: var(--red);
  border-radius: 50%;
  line-height: 1.2rem;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  font-size: 0.9rem;
  text-align: center;
  color: var(--white);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu ul li {
  margin-left: 1rem;
  cursor: pointer;
}

/*******
* GRID *
********/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
  padding: 0 2rem 1rem 2rem;
}

.item {
  overflow: hidden;
  position: relative;
  border: 2px solid var(--black);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  cursor: pointer;
}

.item-caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white);
  padding: 1rem;
  border-top: 2px solid var(--black);
}

.user {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.user span {
  cursor: pointer;
  color: var(--black2);
}

.comments,
.likes,
.likes-number {
  margin-left: 0.5rem;
}

.heart-icon,
.heart-icon-filled,
.comments-icon {
  font-size: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
}

.heart-icon-filled {
  color: var(--red);
}

.item-interaction {
  display: flex;
  align-items: center;
}

.long-image {
  grid-row-end: span 2;
}

.small-image {
  grid-row-end: span 1;
}

.big-image {
  grid-row-end: span 2;
}
